@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.custom_nav {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.navbar .nav-link {
  color: white !important;
  font-weight: 500;
}

.navbar .nav-link:hover,
.navbar .dropdown-item:hover {
  color: #0d6efd !important; /* Bootstrap primary color */
}

.dropdown-menu {
  background: white; /* Keep dropdown readable */
  border-radius: 8px;
  border: none;
}
